{% extends "layout.html"%}
	
	{%block body%}
<body>
	
<p>This page contain students who got scholarships in United states</p>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/ak11.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Akram Sbaih</h5>
    <p class="card-text">Akram is studying computer science in one of the top schools in the world</p>
    <a href="america/akram" class="btn btn-primary">More info</a>
  </div>
</div>








<h1>dk</h1>

	{%endblock%}
</body>
