<!DOCTYPE html>
<html>
<head>
	<title>Germany</title>
</head>
<body>
{% extends "layout.html"%}
	
	{%block body%}

<!-- <h1>Welcome To German scholarships</h1>
 --> 
 <p>This page contain students who got scholarships in Germany</p>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/khaled.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Khaled2 Hamada</h5>
    <p class="card-text">Khaled is the most intellegent student who is studying computer science </p>
    <a href="germany/khaled" class="btn btn-primary">More info</a>
  </div>
</div>
 
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../static/khaled.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mohammed Hamada</h5>
    <p class="card-text">Mohammed is the most intellegent student who is studying computer science </p>
    <a href="germany/khaled" class="btn btn-primary">More info</a>
  </div>
</div>
{%endblock%}
</body>
</html>